@font-face {
  font-family: "Aeonik";
  src: url("/assest/font/AeonikTRIAL-Regular.otf") format("Aeonik");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden !important;
  font-family: "Aeonik", sans-serif;
  background: #003300;
  color: #fff;
}
html #itemBkg,
body #itemBkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html .nav,
body .nav {
  position: fixed;
  width: 100vw;
  padding: 1em 1rem;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
html .nav p,
body .nav p {
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 900px) {
  html .nav p,
  body .nav p {
    font-size: 1.8rem;
  }
}
html .footer,
body .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em;
  z-index: 10;
}

h1 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}

/* ===============  overlay  =============== */
.overlay {
  position: absolute;
  bottom: -1200px;
  right: 0;
  width: 70%;
  height: 700px;
  padding: 2em;
  background: #FFCA78;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
}
.overlay::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .overlay {
    width: 100%;
    height: 100%;
  }
}
.overlay .overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0;
}
.overlay .overlay-header .col:nth-child(1) {
  flex: 3;
}
.overlay .overlay-header .col:nth-child(2) {
  flex: 3;
}
.overlay .overlay-header .col:nth-child(2) #close-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  opacity: 0.8;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}
.overlay .overlay-header .col #item-name {
  font-weight: 700;
}
.overlay .overlay-header .col #item-category {
  font-size: 20px;
}
.overlay .item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em 4em 0;
  color: #311803;
}
@media (max-width: 900px) {
  .overlay .item-details {
    padding: 1em 0.5em 2em 0;
  }
}
.overlay .item-details p:nth-child(1) {
  flex: 2;
}
.overlay .item-details p:nth-child(2) {
  flex: 2;
}
.overlay .item-details #item-name {
  /*   word-break: keep-all; */
  margin-bottom: 30px !important;
}
.overlay .item-details #item-copy {
  letter-spacing: 2px;
  font-size: 18px;
}
@media (max-width: 900px) {
  .overlay .item-details #item-copy {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.overlay .img-container {
  width: 100%;
  padding-bottom: 2em;
}
.overlay .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* =============== container =============== */
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2em;
}
@media (max-width: 900px) {
  .container {
    padding: 1em;
  }
}
.container .items {
  position: absolute;
  width: 40%;
  height: 400px;
  margin-top: 30%;
  background-color: hsla(0, 2%, 22%, 0.18);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.container .items::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .container .items {
    width: 60%;
    bottom: 8em;
  }
}
@media (max-width: 600px) {
  .container .items {
    width: 90%;
    bottom: 5em;
  }
}
.container .item {
  display: flex;
  padding: 0.3em 0.5em;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
}
.container .item .item-index {
  flex: 1;
}
.container .item .item-name {
  flex: 2;
}
.container .item .item-year {
  flex: 1.5;
}/*# sourceMappingURL=main.css.map */